<main>
  <section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card rounded-3">
            <div class="card-body p-4">

              <h4 class="text-center my-3 pb-3">To Do App</h4>

              <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                <div class="col-12">
                  <div class="form-outline">
                    <input type="text" id="form1" class="form-control" placeholder="enter a task"/>
                    <!--                    <label class="form-label" for="form1">Enter a task here</label>-->
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-warning">Reload</button>
                </div>
              </form>

              <div class="card mb-3" *ngFor="let todo of todoService.todos | async;">
                <div class="card-header">
                  <span class="text-muted" style="font-size: 0.8rem;">{{ todo.created.toLocaleDateString() }}</span>
                  <app-todo-status class="float-end" [status]="todo.status"></app-todo-status>
                  <app-todo-priority class="float-end" [priority]="todo.priority"></app-todo-priority>
                </div>
                <div class="card-body">
                  {{ todo.title }}
                </div>

                <div class="card-footer text-center">
                  <div class="btn-group">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="submit" class="btn btn-success">Finished</button>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
